<html lang='en'>

<head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
</head>

<body>
    <script>
    <h3>
      hi{{name}}
    </h3>
    <p>subject:{{subject}}</p>
    <p>{{template}}</p>
    </script>
</body>

</html>DilkashGreeting<p>Good Morning Brother Have a Nice Day God Bless You<br></p>DilkashGreeting<p>Good Morning Brother Have a Nice Day God Bless You<br></p>DilkashGreeting<p>Good Morning Brother Have a Nice Day God Bless You<br></p>DilkashGreeting<p>Good Morning Brother Have a Nice Day God Bless You<br></p>DilkashGreeting<p>Good Morning Brother Have a Nice Day God Bless You<br></p>DilkashGreeting<h1><span style="margin: 0px 0px 16px; background-color: rgb(255, 255, 0);">Good Morning </span><span style="font-size: 10px;">Brother Have a Nice Day Go
d Bless You</span><br></h1>


<p><br></p><p><br></p><p><br></p>swapnilbankarFor Greeting.<div>Hi<div>show</div><span>name</span></div>